<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Yelp Api App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7FE099F41C08D74F00ACB80A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FE09A0D1C08D74F00ACB80A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FE09A181C08D75000ACB80A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
